<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <meta http-equiv="X-UV-Compatible" content="ie-edge">
        <title>Bibliography</title>
        <link rel='stylesheet' type= "text/css" href="../static/style.css" >
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
            <div class="container-fluid">
              <a class="navbar-brand" href="">Bibliography Checker</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="{{url_for('profile')}}"></a>
                </div>
              </div>
            </div>
          </nav>
          

        <main>

            <div class = "text-head">
                Check your bibliography for grammar, commar and punctuation errors
            </div>

            <div class ="select container-fluid">
                <div class = "row">
                    
                <div class="alertTxt alert alert-danger fade "  style="z-index: 1;" role="alert">
                    <div>
                        กรุณาเลือกประเภท
                    </div>
                </div>

                    <div class = "col slectType">
                        <select id="selectType" class="form-select" aria-label="Default select example" style="width: 220px">
                            <option selected>เลือกรูปแบบบรรณานุกรม</option>
                            <option value="APA">APA</option>
                            <option value="IEEE">IEEE</option>
                            <option value="Harvard">Harvard</option>
                            <option value="Vancouver">Vancouver</option>      
                        </select>

                        <select id="selectPattern" disabled class="form-select" aria-label="Default select example" style="width: 220px">
                 
                        </select>

                        <div class="form-group container-fluid" style="justify-content: flex-end; display: flex;">
                            <div>
                                <input class="form-control" style="width: 25rem;" name="myPDF" type="file" id="formFile">
                                <small style="position: absolute; color: red; right: 3rem;">***รองรับเฉพาะ PDF</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class ="container-fluid p-4 mt-5">
                    <div class="card BoxPDF">
                        <div class="card-header">
                        PDF <div class="pull-right"><i id="panel-wrap" style="cursor: pointer;" class="fa fa-angle-down mr-2"></i></div>
                        </div>
                        <div class="collapse">   
                            <div class="card-body">
                                <div style="clear:both">
                                    <iframe id="viewer" frameborder="0" scrolling="no" style="width: 100%;" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
         

            <div class ="set-box">
                <div class = "row">
                    <div class = "col">
                        <div class="form-group container-fluid">
                            <div class = "text-box">
                                เช็คจุดและเว้นวรรค
                            </div>
                            <textarea class="form-control" id="txtInputPosition" name="text" placeholder="Start writing here..."></textarea>
                            <small id="feedbackPosition" style="color: red; display: none;">Feedback : </small>
                            <button type="button" id="checkposition" class="btn btn-outline-primary set-button">check your text</button>
                        </div>
                    </div>
                    <div class = "col">
                        <div class ="result">
                            <div class="form-group container-fluid">
                                <textarea readonly id="txtOutputPosition" class="form-control" name="text"></textarea>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class ="set-box">
                <div class = "row">
                    <div class = "col">
                        <div class="form-group container-fluid">
                            <div class = "text-box" style="margin-top: -20px;">
                                เช็คตำแหน่ง
                            </div>
                            <textarea id="txtInput" class="form-control" name="text" placeholder="Start writing here..."></textarea>
                            <small id="feedback" style="color: red; display: none;">Feedback : </small>
                            <button type="button" class="btn btn-outline-primary set-button" id="checktext">check your text</button>
                        </div>
                    </div>
                    <div class = "col">
                        <div class ="result">
                            <div class="form-group container-fluid" style="margin-top: -20px;">
                                <textarea readonly id="txtOutput" class="form-control" name="text"></textarea>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class ="container-fluid mt-5 mb-5">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex mb-3">
                            <input  id="inputTxtDrag" style="margin-right: 16px;"  type="text" class="form-control w-75" placeholder="กรุณากรอกบรรณานุกรม">
                            <button onclick="cutText()" class="btn btn-outline-secondary" type="button">ตัดคำ</button>
                        </div>
                        

                        <!-- <div>ธรณ์ ธำรงนาวาสวัสดิ์. (2548). ใต้ทะเลมีความรัก ภาคสาม: หลังคลื่นอันดามัน. พิมพ์ครั้งที่ 2. กรุงเทพฯ: บ้านพระอาทิตย์.</div> -->
                        <div id="txtList" class="mt-3">
                            <!-- <span class="btn btn-outline-success" data-value="ธรณ์ ธำรงนาวาสวัสดิ์" draggable="true" ondragstart="drag(event)">ธรณ์ ธำรงนาวาสวัสดิ์</span>  
                            <span class="btn btn-outline-success" data-value="(2548)" draggable="true" ondragstart="drag(event)">(2548)</span>  
                            <span class="btn btn-outline-success" data-value="ใต้ทะเลมีความรัก ภาคสาม: หลังคลื่นอันดามัน" draggable="true" ondragstart="drag(event)">ใต้ทะเลมีความรัก ภาคสาม: หลังคลื่นอันดามัน</span>  
                            <span class="btn btn-outline-success" data-value="พิมพ์ครั้งที่ 2" draggable="true" ondragstart="drag(event)">พิมพ์ครั้งที่ 2</span>  
                            <span class="btn btn-outline-success" data-value="กรุงเทพฯ: บ้านพระอาทิตย์" draggable="true" ondragstart="drag(event)">กรุงเทพฯ: บ้านพระอาทิตย์</span>   -->
                        </div>

                        <div id="inputList">

                        </div>

                        <!-- <div class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 8rem;">
                              <span class="input-group-text"  style="justify-content: center;">ชื่อผู้แต่ง</span>
                            </div>
                            <input type="text" class="form-control"  ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 8rem;">
                              <span class="input-group-text"  style="justify-content: center;">ปีที่พิมพ์</span>
                            </div>
                            <input type="text" class="form-control"  ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 8rem;">
                              <span class="input-group-text"  style="justify-content: center;">ชื่อหนังสือ</span>
                            </div>
                            <input type="text" class="form-control"  ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 8rem;">
                              <span class="input-group-text"  style="justify-content: center;">ครั้งที่พิมพ์</span>
                            </div>
                            <input type="text" class="form-control"  ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 8rem;">
                              <span class="input-group-text"  style="justify-content: center;">สถานที่พิมพ์</span>
                            </div>
                            <input type="text" class="form-control"  ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div> -->

                        <div class="form-group">
                            <label for="format">ตัวอย่างรูปแบบ</label>
                            <input type="text" class="form-control" id="format" readonly>
                        </div>

                        <div class="form-group mt-3">
                            <label for="suggestionOutput">ผลลัพธ์</label>
                            <textarea readonly id="suggestionOutput" class="form-control" name="text"></textarea>   
                        </div>

                        <button type="button" class="btn btn-outline-success set-button" >SUGGESTION!</button>
                     
                        
                    </div>
                </div>
            </div>
            
            
        </main>

    </body>
    <script src="{{url_for('static', filename='index.js')}}"></script>


</html>