.nav-font{
    font-weight: bold;
    font-size: 50px;
}

div{
    display: block;
}

.text-head{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

textarea{
    background: #ffeac9;
    width: 400px;
    height: 150px;
    
    outline: none;
    border: none;
    padding: 10px;
  }

  .set-box{
    margin-top: 50px;
  }

  .set-button{
      margin-top: 20px;
  }

  .select{
      margin-top: 10px;
      margin-bottom: -30px;
  }

  .text-box{
      font-size: 20px;
      margin-bottom: 20px;
  }

  .result{
    margin-top: 49px;
  }

  .slectType {
      display: flex;
  }

  .slectType select{
      margin-inline: 1rem;
  }
  
  .alertTxt {
    width: 40% !important;
    position: fixed !important;
    right: 1rem;
    bottom: 1rem;
  }
/* 
  .BoxPDF{
    position: absolute !important;
    height: 500px;
    right: 1rem;
    margin-top: 2.5rem;
  } */


  body {
    font-family: 'Kanit', sans-serif !important;
  }

  #txtList span {
    margin: 3px;
  }